<div class="row">
    <div class="col">
        <div class="mb-3">
            <label for="idSesji" class="form-label">Identyfikator sesji</label>
            <input type="text" class="form-control" id="idSesji"
                [(ngModel)]="idSesji" name="idSesji" 
                placeholder="podaj identyfikator sesji">
        </div>
        <div class="mb-3 d-flex justify-content-end">
            <input type="button" value="zapisz" class="btn btn-success">
        </div>
    </div>
    
</div>
{{idSesji}}